table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  /* Limita el ancho máximo de la tabla */
  margin: 0 auto;
  margin-top: 50px;
  /* Centra la tabla horizontalmente */
  border: 2px solid #EFEFEF;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

input[type="text"]:focus {
  border: 2px solid #4CAF50;
  outline: none;
}

@media screen and (max-width: 600px) {

  /* Reduce el tamaño de fuente de la tabla para pantallas pequeñas */
  table {
    font-size: 14px;
  }
}

.boton {
  display: inline-block;
  margin-right: 10px;
}