#resultado {
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
}

#resultado table {
    width: 100%;
    border-collapse: collapse;
}

#resultado th,
#resultado td {
    padding: 8px;
    text-align: left;
}

#resultado input {
    border: #000000;
}

#resultado th {
    font-weight: bold;
}

.password-toggle {
    position: relative;
}

.password-toggle .toggle-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}